body{
    margin: 0px;
    font-family: ubuntu;
}
.App{
    // background: rgb(238, 242, 248);
    // height: 100vh;
}
.presentation{
    background: rgb(238, 242, 248);
    // height: 100vh;
    .header-container{
        background: #fff;
        padding: 15px;
        box-shadow: 1px 0px 4px #0000002b;
        display: flex;
        align-items: center;
    h1{
        font-size: 1.35rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        color:var(--color-capgemini-blue);
        margin-left: 10px !important;
    }
    span{
        font-size: 1.35rem;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        color: #333;
        margin-left: 10px !important;
    }

    }
}
