.modal_wapper{
    align-items: center;
    background-color: rgba(36, 36, 36, 0.75);
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;


.modal-content{
    background-color: #ffff;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
    display: block;
    flex-direction: column;
    height: auto;
    margin: 20px auto;
    max-width: 50vw;
    // min-height: 400px;
    min-width: 36vw;
    // padding: 30px;
    position: relative;
    width: auto;
}
.modal-container{
    padding: 0.5em 2em;
    height: 44vh;
    min-height: 240px;
    overflow-x: auto;
    margin-bottom: 20px;
    // max-height: 300px;
}
   
}