// @import "../../../theme/breakpoints.sccs";



.input-output{
    margin: 20px;
}

@media screen and (max-width: 480px){
.component-header .header-left span {
    font-size: 0.9rem !important;
    display: none;
}
}