.BreakpointLayout-Content {
    margin: 8px auto;
    margin-top: 32px;
}

.row {
    margin-top: 0;
    margin-right: 0; 
    margin-left: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.column {
    border: 0.5px #cccc solid;
    margin: 4px;
    background-color: rgb(241, 244, 248)!important;
    height: 100%;
    h5 {
        padding: 8px 8px;
    }
    p {
        padding: 8px 8px;
        word-break: break-all;
    }
} 

.BL-dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

.BL-normal {
    background-color: var(--color-white);
    color: var(--color-black);
    // border: 1px solid var(--color-black);
}

.BL-blue {
    background-color: var(--color-capgemini-blue);
    color: var(--color-white);
}

.BL-purple {
    background-color: var(--color-purple-wbh);
    color: var(--color-white);
}