@import "../../theme/breakpoints.scss";

.dynamic-light{
  background: var(--color-white) !important;
  .react-tabs__tab--selected {
    background: #ccc !important;
  }
  // .react-tabs__tab:hover {
  //   background: #a2d2ff;
  // }
}

.dynamic-dark{
  background: var(--color-white) !important;

  .react-tabs__tab--selected {
    background: var(--color-black) !important;
    color: var(--color-white) !important ;
  }
  
  .react-tabs__tab:hover {
    //text-decoration: underline !important;
  }
}

.cg1-dynamic-blue{
  background: var(--color-white) !important;
  .react-tabs__tab--selected {
    background: var(--color-capgemini-blue) !important;
    color: var(--color-white) !important ;
  }
  .react-tabs__tab:hover {
    //background: #4f95d6;
  }
}
.cg2-dynamic-purple{
  background: var(--color-white) !important;

  .react-tabs__tab--selected {
    background: var(--color-purple-wbh) !important;
    color: var(--color-white) !important ;
  }
  
  .react-tabs__tab:hover {
    //text-decoration: underline !important;
  }
}

/* Tab Container */
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #7286d3;
  margin: 3.5rem auto 1.5rem;
  // padding: 0.5rem 1rem 2rem 1rem;
  //border-radius: 1rem;
  color: var(--color-black);
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.168627451);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding-left: 0px;
  background-color: #F3F3F3;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  @media screen and (max-width: $bp-mobile){
    display: block;
  }
}

.react-tabs__tab {
  // width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  @media screen and (max-width: $bp-mobile){
    width: 100%;
  }
  // border:1px solid #8ea7e9; 
  // margin :5px;
  // border-radius: 10px;
}

// .react-tabs__tab--selected {
//   background: #8ea7e9;
// }

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

// .react-tabs__tab:hover {
//   background: #a2d2ff;
// }
.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  word-break: break-all;
  padding: 0.5rem 1rem 2rem 1rem;
  font-size: 1.25rem;
}