@import "../../../theme/breakpoints.scss";

.text-output {
    margin: 20px;
}

.text-output .form-control-char-size {
    color: #646464;
    margin-left: auto;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 1rem;
    float: right;
    margin-top: 4px;
}

.ta-normal {
    background-color: rgb(241, 244, 248)!important;
    border-style: solid;
    border-width: medium; 
    border-color: none !important;
}

.ta-dark {
    background-color: rgb(241, 244, 248)!important;
    border-style: solid;
    border-width: medium; 
    border-color: var(--color-black) !important;
}

.ta-blue {
    background-color: rgb(241, 244, 248)!important;
    border-style: solid;
    border-width: medium; 
    border-color: var(--color-capgemini-blue) !important;
}

.ta-purple {
    background-color: rgb(241, 244, 248)!important;
    border-style: solid;
    border-width: medium; 
    border-color: var(--color-purple-wbh) !important;
}

.cls-bordRadius {
    border-radius: 8px;
}

.cls-noRadius {
    border-radius: 0px;
}

.ta-w25 {
    width: 25%;
    @media screen and (max-width: $bp-mobile){
        width: 98%;
    }
}
.ta-w50 {
    width: 50%;
    @media screen and (max-width: $bp-sm-mobile){
        width: 98%;
    }
}
.ta-w75 {
    width: 75%;
}
.ta-w100 {
    width: 98%;
}

.textarea-input{
    min-height: 150px!important;
}

