.range-fields{
    margin-bottom: 14px;
}
input[type="number"]{
    width: 98% !important;
    border: 1.5px solid black;
    border-radius: 4px;
}
.form-modalcontainer .error-message {
    color: red;
    font-size: 12px;
}
