.header-content{
    display: flex;
    // background-color: #f1f4f8;
    padding: 16px 32px 8px;
    justify-content: space-between;
    // color: #0070ad !important;
    align-items: center;  
    .header-left{
        display: flex;
        align-items: center;
        img{
            width: 50px;
            height: 50px;
        }
        p {
            font-size: 24px;
            float: left;
            margin-left: 8px;
          }
      }
    
  .header-right{
    li{
        align-items: center;
    display: flex;
    }
  }
      
}
.Normal{
    background-color: #f1f4f8;
    
   
    color: var(--color-capgemini-blue) !important;
    
}
.Dark{
    background-color: black;
    
   
    color: #ffff !important;
}
.cg1{
    background-color:var(--color-capgemini-blue);
    
   
    color: #ffff !important; 
    .cg-logo{
        // background-color: white;
        // padding: 4px;
        width: 200px;
    } 
}
.Cg2{
    background-color:#2b0a3d;
    
   
    color: #ffff !important;  
    .cg-logo{
        // background-color: white;
        // padding: 4px;
    }  
}
.header-right ul{display: flex;align-items: center;margin-left: auto; list-style: none;}
.header-right li + li{margin-left: 30px;}
.header-right {margin-left: auto;}
// .header-right .profile span{display: inline-block;vertical-align: middle;margin-left: 0;margin-right: 8px;font-size: 16px;color: #0070AD;}
.header-right .profile img{height: 25px;margin-right: 10px;display: inline-block}

.header-output{
    .component-header{
        display: flex;
        
    justify-content: space-between;
    box-shadow: 1px 0px 4px #0000002b;
    align-items: center;
    // margin: 0px 31px;
    .header-left{
        display: flex;
        padding: 15px;
        h1{
            font-size: 1.35rem;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            color: #0070ad;
            margin-left: 10px !important;
        }
        span{
            font-size: 1.35rem;
            text-transform: uppercase;
            font-weight: 800;
            margin: 0;
            color: #333;
            margin-left: 10px !important;
        }
    }
    
    .header-right{
        .button-section{
            button {
                margin-right: 14px;
        //         background-color: #0070AD;
        // border-color: #0070AD;
        // border-radius: 4px;
        
        // color: #ffff;
        // cursor: pointer;
        // // display: flex;
        // font-weight: 600;
        // // justify-content: center;
        // padding: 8px;
        // // width: autos;
        // text-decoration: none;
        // margin-top: 1rem;
        padding: 0.5rem;
        // font-size: 1rem;
        font-weight: bold;
        background-color: #0070AD;
        border-color: #0070AD;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        // float: right;
            }
        }
    }
    }
}
.normal-header{
    background-color: #fff;
    height: 100vh;
}

 