.nav-icons{
    display: flex;
    // margin-bottom: 15px;
}
.navbar-container{
   
    .error{
        margin-bottom: 0px!important;
    }
    .navbar-fields{
        margin-bottom: 14px;
    }
    .menu-container{
        margin-bottom: 14px;
        .sub-menu{
            margin-bottom: 14px;
        }
        .drop-down-submenus{
            margin-top: 10px;
        }
    }
}