.carousel{
    max-width: 1500px;
    width: 100%;
    margin: 40px auto;
}
.carousel-item img{
    width: 100%;
    height: 500px;
}
.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
    box-shadow: 0 25px 100px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.5);
    background-image: linear-gradient(244deg,rgba(0,123,189,.9),rgba(0,63,97,.9));
    top:200px !important;
    bottom: 200px !important;
}
.carousel-caption {
    font-size: 1.5rem !important;
    box-shadow: 0 25px 100px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.5);
    background-image: linear-gradient(244deg,rgba(0, 123, 189, 0.29),rgba(0,63,97,.9));
}
.carousel-indicators {
    margin-bottom: 0rem !important;
}
.carousel-caption p:hover{
    background-size: 100% 90%;
    color: black !important;
}
.carousel-caption h5:hover{
    background-size: 25% 100%;
    color: black !important;
}
.carousel-caption p{
    background: linear-gradient(to right,#00e6e3 0%,#00e6e3 100%) no-repeat 0px 100%/0px 100%;
    transition: all .2s ease-in-out;
}
.carousel-caption h5{
    color: #fff !important;
    background: linear-gradient(to right,#00e6e3 0%,#00e6e3 100%) no-repeat 0px 100%/0px 100%;
    transition: all .2s ease-in-out;
}
.carousel-caption {
    position: absolute;
    right: 45%;
    bottom: 1.5em;
    left: 1%;
    color: #fff;
    text-align:start;
    padding: 1.25rem 1.25rem;
}
.carousel-image-none .carousel-item img{
    display: none !important;
    .carousel-caption{
        position: initial !important;
    }
}
.carousel{
.carousel-image-none{
    background-color: white;
    box-shadow: 0 25px 100px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.5);
    .carousel-item{
        .carousel-caption{
            position:static !important;
            color: black;
            padding: 1.25em 6.25em;
        }
    }
    .carousel-control-next, .carousel-control-prev {
        top:0px !important;
        bottom: 0px !important;
    }
}

}

.carouselw-25 {
    width: 25%;
    margin: 0 auto;
}

.carouselw-50 {
    width: 50%;
    margin: 0 auto;
}

.carouselw-75 {
    width: 75%;
    margin: 0 auto;
}

.carouselw-100 {
    width: 98%;
    margin: 0 auto;
}

.carousel-dark {
    background-image: linear-gradient(244deg,black,white);
}

.carousel-light {
    background-image: linear-gradient(244deg,#ccc,white);
}

.carousel-blue {
    background-image: linear-gradient(244deg,#0070AD,white);
}

.carousel-purple {
    background-image: linear-gradient(244deg,#2b0a3d,white);
}

// .carousel-indicators {
//     .btn-carousel-dark {
//         // border: 1px black solid;
//         background-color: black;
//     }
// }